<!doctype html>
<html lang="pl">
<head>
	<title>HackerSpace Biblioteka</title>
	<meta charset="utf-8">
</head>
<body>
	<nav class="menu">
		<div class="hs-logo-wrapper">
			<img class="hs-logo" src="../assets/img/logo_hs.png" alt="HackerSpace logo">
		</div>
		<ul class="navigation-links">
			<li class="navigation-link"><a href="./my-bookings.html">Moje książki</a></li>
			<li class="navigation-link"><a href="./how-it-works.html">Jak to działa</a></li>
			<li class="navigation-link"><a href="./requests.html">Czy ktoś ma?</a></li>
		</ul>
	</nav>
	
	<input type="text" role="search" class="search-bar"></div>
	
	<div class="legend">
		<div class="legend-lent">
			<img src="../img/locked-lock.svg" alt="locked lock">
			Książka jest obecnie wypożyczona.
		</div>
		<div class="legend-available">
			<img src="../img/locked-lock.svg" alt="locked lock">
			Książka jest dostępna do wypożyczenia.
		</div>
	</div>
	
	<div class="controls">
		<div class="status">
			<ul>
				<li>dostępna</li>
				<li>niedostępna</li>
			</ul>			
		</div>
		<div class="books-sort">
			<ul>
				<li>dla wszystkich</li>
				<li>zapytaj o zgodę</li>
				<li>tylko w HS</li>
			</ul>
		</div>
	</div>
	
	<aside class="filters">
		<article class="tags">
			Tagi
			<ul>
				<li>Arduino</li>
				<li>BIOS</li>
				<li>C</li>
				<li class="selected">C++</li>
				<li>Java</li>
				<li class="selected">Python</li>
				<li>Programowanie robotów</li>
				<li>Webdesign</li>
				<li>Security</li>
			</ul>
		</article>
		<article class="publisher">
			<ul>
				<li>Helion</li>
				<li class="selected">Onepress</li>
				<li>Wydawnictwo naukowe PWN</li>
				<li>O`Reily Media</li>
			</ul>
		</article>
		<article class="language">
			<ul>
				<li>Polski</li>
				<li>Angielski</li>
			</ul>
		</article>
	</aside>

	<main id="books">
		
	</main>

	<nav class="pagination">
		<div class="paginate-button-left"></div>
		<ul class="paginate-buttons">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
		</ul>
		<div class="paginate-button-right"></div>
	</nav>

	<link rel="stylesheet" href="../styles/hackers-view.css">
</body>
</html>